{%extends 'baseview.html' %}

{% block content %}
  <h2>Welcome to customer home page! </h2>
  <div>
    <a href="{% url 'view_catalog' %}" class="btn btn-primary">Products</a><br>
    <a href="{% url 'customer_orders' %}" class="btn btn-primary">My orders</a><br>
    
    <form method="GET" action="{% url 'get_age' %}">
      <label for="Your name">Your name:</label>
      <input type="text" name="name" id="name">
      <button type="submit">Получить возраст</button>
    </form>

    <form method="GET" action="{% url 'get_country' %}">
      <label for="Your name">Your name:</label>
      <input type="text" name="name" id="name">
      <button type="submit">Получить национальность</button>
    </form>

  </div>
{% endblock %}

{% comment %} <span class="icon-emo-happy"></span> {% endcomment %}