{% extends 'baseview.html' %}

{% block content %}
    <head>
        <title>Customers by City</title>
    </head>
    <body>
        <h1>Customers Grouped by City</h1>
        {% for city, customers in grouped_customers.items %}
            <h2>{{ city }}</h2>
            <ul>
                {% for customer in customers %}
                    <li>{{ customer.user.username }} - {{ customer.email }}</li>
                {% endfor %}
            </ul>
        {% endfor %}
    </body>
{% endblock %}