{% extends 'baseview.html' %}

{% block content %}
<div class="contacts-container">
    <h1>Отзывы</h1>
    {% for feedback in feedbacks %}
    <div class="new">
        <h2>{{ feedback.author.username }}</h2>
        <h2>{{ feedback.note }}</h2>
        <h2>{{ feedback.text }}</h2>
        <h2>{{ feedback.date }}</h2>
        <a href="{% url 'edit_feedback' feedback.id %}">Edit</a>
    </div>
    {% endfor %}
    <a href="{% url 'leave_feedback' %}" class="btn btn-primary">Leave feedback</a>
    

</div>
{% endblock %}