<html>
<head>
    <title>Личный кабинет</title>
</head>
<body>
    <h1>Личный кабинет</h1>
    <p>Добро пожаловать, {{ user.username }}!</p>
    {% if user.profile.user_type == 'employee' %}
        <h2>Информация для сотрудников</h2>
        <!-- Добавьте информацию о заказах, продажах и клиентах здесь -->
    {% elif user.profile.user_type == 'client' %}
        <h2>Информация для клиентов</h2>
        <!-- Добавьте информацию о покупках и промокодах здесь -->
    {% endif %}
    <h2>Общедоступная информация</h2>
    <!-- Добавьте здесь информацию, доступную для всех зарегистрированных пользователей -->
</body>